@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
.guest {
  &__container {
    width: 800px;
    margin: 60px auto 0;
  }
  &__header {
    font-size: 3.5rem;
    margin: 0 auto;
    padding: 0;
    color: #3f51b5;
    font-family: 'Shadows Into Light', cursive;
  }

  &__description {
    font-size: 1.6rem;
  }

  &__features-list {
    margin: 30px auto 60px;
    padding: 0;
    list-style: none;

    &--item {
      font-size: 1.3rem;
      line-height: 26px;
    }

    &--icon {
      color: #3f51b5;
    }
  }

  &__signup-container {
    margin: 0 auto;
  }

  &__sign-up-header {
    font-size: 1.4rem;
    margin-bottom: 16px;
  }

  &__input--signup {
    width: 300px;
    height: 55px;
    margin-top: 16px;
    line-height: 16px;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 auto;
    display: inline-block;
  }

  &__button--submit {
    padding: 5px;
    margin: 0 auto auto;
    -webkit-appearance: none;
    line-height: 24px;
    width: 100px;
    height: 55px;
    background: #3f51b5;
    color: #fff;
    font-weight: bold;
    display: inline-block;
  }
}
