.navigation {
  list-style: none;
  padding: 0;
  margin: 64px 0;
  display: flex;
  justify-content: center;


  &__list-item {
    padding: 0 30px;
  }

  &__link:link, &__link:active, &__link:visited {
    color: #3f51b5;
    text-decoration: none;
    vertical-align: middle;
    font-size: 16px;
  }
}
