.registration-form {
  width: 444px;
  margin: 64px auto auto auto;
  font-size: 16px;

  &__icon {
    margin-right: 12px;
  }
  &__input {
    width: 100%;
    height: 55px;
    margin-top: 16px;
    line-height: 16px;
    box-sizing: border-box;
    padding: 5px;
  }

  &__button {
    padding: 5px;
    margin: 16px auto auto;
    -webkit-appearance: none;
    line-height: 24px;
    width: 100%;
    background: #3f51b5;
    color: #fff;
    font-weight: bold;
  }
}
