.search-item {
  list-style: none;
  padding: 0;
  margin: 0 0 16px;
  display: flex;


  &__link:link {
    font-weight: bold;
  }

  &__image {
    margin-right: 8px;
  }

  &__title {
    vertical-align: top;
  }
}
