.search-item {
  list-style: none;
  padding: 0;
  margin: 0;


  &__link:link {
    font-weight: bold;
  }

  &__image {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  &__title {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}
